<%- include('../../client/layouts/header') %>

<!-- Page Header-->
<header class="masthead"
        style="background-image: url('https://cdn.pixabay.com/photo/2018/07/14/15/27/cafe-3537801_1280.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <!-- Post preview-->
        <% data.forEach((d)=>{ %>
            <div class="col-lg-3  mx-auto"><img class="img-thumbnail" src="<%= d.image %>"></div>
            <div class="col-lg-9 mx-auto">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title"><%= d.blogTitle %></h2>
                        <h3 class="post-subtitle"><%= d.blogSubTitle %></h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        <%= d.date %>
                    </p>
                </div>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>
        <% }); %>

        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts
                →</a></div>
    </div>
</div>

<%- include('../../client/layouts/footer') %>